body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    padding: 350px;
}

h1 {
    font-size: 50px;
    padding: 10px;
    border: 2px solid black;
    background: blue;
    color: white;
}

li {
    /*display: inline-block;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    /*list-style-position: inside;*/
    background: rgb(240, 93, 2);

}